<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @sub_categories_d.name %>
</p>


<%= link_to 'Edit', edit_sub_categories_d_path(@sub_categories_d) %> |
<%= link_to 'Back', sub_categories_ds_path %>
