<h1>Welcome</h1>
<%= link_to 'Profile', {:action=>"show", :controller=>"patients", :id=>"#{current_user.id}"} %>
<%= link_to 'Edit',    {:action=>"edit", :controller=>"patients", :id=>"#{current_user.id}"} %>